<div class="row">
  <h3 class="first">Farm</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="name" placeholder="Farm's name">
  <input id="input" type="text" size="30" pInputText [(ngModel)]="address" placeholder="Farm's address">
  <button pButton type="button" (click)="toggleDisabledFarm()" label="Ok" class="ui-button-secondary"></button>
  <!-- Test Data Persist -->
  <!-- <button pButton type="button" (click)="methodeTestDataMockPersist()" label="Test Data Persist" class="ui-button-secondary"></button> -->
  <!-- Fin Test Data Persist -->
</div>
<div class="row mouvup" *ngIf="!farmDisabled">
  <h3 class="first">Farmer</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="farmername">
  <p-spinner size="9" [(ngModel)]="farmerage" [min]="0" [max]="100"></p-spinner>
  <p-radioButton name="gendergroup" value="male" label="Male" [(ngModel)]="farmergender"></p-radioButton>
  <p-radioButton name="gendergroup" value="female" label="Female" [(ngModel)]="farmergender"></p-radioButton>
  <button pButton type="button" (click)="toggleDisabledFarmer()" label="Ok" class="ui-button-secondary"></button>
</div>
<div class="row mouvup" *ngIf="!farmerDisabled">
  <h3 class="first">Animal</h3>
  <input id="input" type="text" size="30" pInputText [(ngModel)]="animalname">
  <p-dropdown [options]="animaltype" [(ngModel)]="selectedDescription" optionLabel="description" placeholder="select animal"></p-dropdown>
  <button pButton type="button" (click)="toggleDisabledAnimal(); onAddAnimal()" [disabled]="animalDisabled" label="Add Animal" class="ui-button-secondary"></button>
  
  <h3 class="first">Food for</h3>
  <p-dropdown [options]="foodtype" [(ngModel)]="selectedFood" optionLabel="description" placeholder="type"></p-dropdown>
  <p-spinner size="10" [(ngModel)]="foodQte" [min]="0" [max]="10" placeholder="quantity"></p-spinner>
  <button pButton type="button" (click)="onAddAnimalFoodPackage(); toggleDisabledFood()" label="Add Food" class="ui-button-secondary"></button>
</div>



<div class="row mouvup" *ngIf="animalAdded">
    <p-table [value]="animals">
        <ng-template pTemplate="header">
            <tr>
                <th>name</th>
                <th>type</th>
                <th>calories</th>
                <th>food stack</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-animal>
            <tr>
                <td>{{animal.name}}</td>
                <td>{{animal.type.description}}</td>
                <td>{{animal.calories}}</td>
                <td>
                <p-table [value]="animal.foodpackage">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>food type</th>
                            <th>food quantity</th>
                            <th>food calories</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-food>
                        <tr>
                            <td>{{food.type.description}}</td>
                            <td>{{food.quantity}}</td>
                            <td>{{food.type.calories}}</td>
                        </tr>
                    </ng-template>
                </p-table>
              </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="container mouvup">
  <div class="row" class="col-md-11" *ngIf="!farmDisabled && !farmerDisabled && animalAdded">
    <button pButton type="button" (click)="onValidateFarm(); methodeTestToDisplayResult();" label="Save" class="ui-button-secondary pull-right"></button>
  </div>
</div>